$color-alto:       #ddd;    // shadows
$color-black:      #000;
$color-dusty-gray: #999;    // borders
$color-eden:       #14485f; // happy browse bg
$color-gallery:    #efefef; // borders
$color-mine-shaft: #252525; // main text, nav
$color-white:      #fff;
$color-wild-sand:  #f6f6f6; // section bg
