$color-white: #fff;
$color-black: #000;

$color-eden:  #14485f; // happy browse bg
$color-wild-sand: #f6f6f6; // section bg

$color-mine-shaft: #252525; // main text, nav

$color-gallery: #efefef; // borders
$color-dusty-gray: #999; // borders
$color-alto: #ddd; // shadows
