@media print {
  html {
    font-size: 12px !important;
  }

  .header,
  .footer {
    display: none;
  }

  .section {
    padding: 0 3.25em 2em !important;
    background-color: white !important;

    .dates {
      float: right;
    }

    .title {
      margin: 0 auto 1em !important;
      padding: 0.35em !important;
      font-size: 1.3rem !important;
      max-width: 230px !important;

      small {
        background-color: white !important;
        top: -8px !important;
      }

      &.name {
        font-size: 0 !important;
        border: none !important;
        max-width: 400px !important;
        height: 3rem;
        margin-bottom: 0.5rem !important;

        &::after {
          font-family: Georgia;
          content: "Daniel Antelo";
          color: black;
          font-size: 2.6rem;
          position: absolute;
          left: 25%;
          top: -1.75rem;
        }

        &::before {
          font-family: Georgia;
          content: " www.danielantelo.com \A 07368318778 ";
          white-space: pre;
          color: black;
          font-size: 1rem;
          position: absolute;
          left: 33%;
          bottom: -0.5em;
        }
      }
    }
  }

  .personal-details {
    .image,
    .details,
    .links {
      display: none !important;
    }

    .profile {
      width: 100% !important;
      padding: 0 !important;

      .subtitle {
        display: none !important;
      }
    }
  }

  .skills {
    .skill {
      width: 32% !important;
    }
    .languages {
      display: none !important;
    }

    .subtitle {
      font-size: 1.4rem !important;
    }

    .technical-knowledge {
      ul {
        width: 25% !important;
      }
      .subtitle {
        display: none !important;
      }
    }
  }

  .experience {
    .job {
      margin: 0.3em !important;
      padding: 0.4em 0 0.3em !important;

      .name {
        font-size: 1.4rem !important;
      }

      ul {
        margin: 0;
        padding: 0 0 0.75rem 1.5rem;
      }

      &.pagebreak {
        padding-top: 6rem !important;
      }
    }
  }

  .education {
    .description {
      font-size: 1.4rem !important;
    }

    .certificate {
      margin: 0.25em !important;
      padding: 0.25em 0 !important;
    }

    .dates {
      margin-top: -2rem;
    }
  }
}
