@import "~normalize.css";

html {
  box-sizing: border-box;
  font-family: "PT Sans Narrow", sans-serif;
}

@media print {
  html {
    font-size: 12px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
}

ul {
  margin: 0;
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: black;
}
