.education {

  .certificate {
    border-bottom: 1px solid $color-alto;
    margin-bottom: 1em;
    padding-bottom: 1em;

    &:last-of-type {
      border: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .description {
      @extend %type-secondary-heading;

      margin: 0;
    }

    .institution {
      font-size: 1.125rem;
    }
  }
}
