section#education.education.section
    h2.title Education #[small What I&#39;ve studied]

    div(property='alumniOf', typeof='EducationalOrganization', class='certificate')
        h3(property='description', class='description') Design Patterns & Architect Enterprise Applications With JEE
        div(class='institution')
            span(property='name') Oracle University Certification
            span(property='location', content='A Coruña, Spain')
        span.dates 2012

    div(property='alumniOf', typeof='EducationalOrganization', class='certificate')
        h3(property='description', class='description')
            abbr(title='Master of Science') MSc
            |  Advanced Methods of Computer Science
        div(class='institution')
            span(property='name') Queen Mary University of London
            span(property='location', content='London')
        span.dates 2005 - 2007

    div(property='alumniOf', typeof='EducationalOrganization', class='certificate')
        h3(property='description', class='description')
            abbr(title='Bachelor of Science') BSc
            |  Computing
        div(class='institution')
            span(property='name') Queen Mary University of London
            span(property='location', content='London')
        span.dates 2002 - 2005

    div(property='alumniOf', typeof='EducationalOrganization', class='certificate')
        h3(property='description', class='description') A-level Maths, Computer Science, Physics & Spanish
        div(class='institution')
            span(property='name') St Charles Catholic Sixth Form College
            span(property='location', content='London')
        span.dates 2000 - 2002