section#experience.experience.section
    h2.title Work Experience #[small Where I&#39;ve worked]

    div(typeof='Event/Job', class='job current')
        h3(property='jobTitle', class='name') Senior Frontend Engineer

        div(property='worksFor', typeof='Organization')
            span(property='name' content='OakNorth')

            span(property='location', typeof='Organization', class='location')
                a(property='url', target='_blank', href='https://www.oaknorth.com/?noredirect') OakNorth,
                span(property='address', typeof='PostalAddress')
                    span(property='addressLocality') London

            div.dates
                span Sep 2019 - Present

            p(property='description', class='description')
                | Technical lead, line manager and frontend engineer. Highlights include:
            ul
                li Lead of the case analysis mission: 2 cross functional squads of ~6 engineers solving data normalisation and visualisation with Python and React
                li Designed and led the migration to micro-frontends using Lerna and github packages
                li Designed and led the move to workflow driven e2e test with visual regression in Cypress
                li Frontend Guild lead and project manager
                li Lead interviewer for frontend engineers (setting up a bespoke interview process and exercises)
                li Helped develop the employee feedback and development process

    div(typeof='Event/Job', class='job')
        h3(property='jobTitle', class='name') Senior Software Developer

        div(property='worksFor', typeof='Organization')
            span(property='name' content='YOOX NET-A-PORTER GROUP')

            span(property='location', typeof='Organization', class='location')
                a(property='url', target='_blank', href='https://www.net-a-porter.com/') NET-A-PORTER,
                span(property='address', typeof='PostalAddress')
                    span(property='addressLocality') London

            div.dates
                span May 2017 - Sep 2019

            p(property='description', class='description')
                | Technical lead and javascript full stack engineer. Highlights include:
            ul
                li led the development of the greenfield project Porter Digital (team of 6 engineers)
                li helped change the ways of working and improve productivity for the whole content department (4 teams): move to a monolith lerna repo, improved CI and more testing focus
                li ran a cross team steering group to up our coding and testing standards and ensure we were all in sync. 
                li ran a code club to help upskill engineers with focus on TDD

    div(typeof='Event/Job', class='job pagebreak')
        h3(property='jobTitle', class='name') Lead Web Developer

        div(property='worksFor', typeof='Organization')
            span(property='name' content='Student.com')

            span(property='location', typeof='Organization', class='location')
                a(property='url', target='_blank', href='https://www.student.com') Student.com,
                span(property='address', typeof='PostalAddress')
                    span(property='addressLocality') London

            div.dates
                span December 2014 - January 2017

            p(property='description', class='description')
                | I was the second developer to join this incredibly fast paced startup and 
                | witnessed it grow from a small room of people to over 150 employees. 
                | I was a key contributor to the stack and evolution of the product. 
                | As we grew I earnt the role of Lead Developer of the web team (up to 13 developers)
                | focused on the student experience. 
                | Content and mobile first full stack fun, ensuring test driven reusable code in both PHP (Symfony2) and Javascript (ES6/Redux/React) technologies, as well as accessible HTML, living style guides (Sass/Sussy) and performance optimisation. 

    div(typeof='Event/Job', class='job')
        h3(property='name', class='name') Software Engineer II

        div(property='location', typeof='Place', class='location')
            span(property='name' content='Indra Software Labs')
                a(property='url', href='http://www.indracompany.com/') Indra Software Labs,
            span(property='address', typeof='PostalAddress')
                span(property='addressLocality') A Coruña (Spain)

        div.dates
            span(property='startDate' content='2011-11-01') June 2011
            =' - '
            span(property='endDate' content='2014-07-01') October 2014

        p(property='description', class='description')
            | Responsible for various stages of the software life cycle of corporate desktop application and web portal
            | development. Worked on the desktop application for Gas Natural operations management and then became a
            | core member of the Vodafone Spain online store project, helping to lead the front-end development.
            | Full stack development with Java, Spring MVC, Oracle SQL, JSP, HTML, CSS and Javascript.

    div(typeof='Event/Job', class='job')
        h3(property='name', class='name') Lead Developer

        div(property='location', typeof='Place', class='location')
            span(property='name' content='Cambur')
                a(property='url', href='http://www.cambur.es/') Cambur,
            span(property='address', typeof='PostalAddress')
                span(property='addressLocality') A Coruña (Spain)

        div.dates
            span(property='startDate' content='2010-07-01') July 2010
            =' - '
            span(property='endDate' content='2011-11-01') November 2011

        p(property='description', class='description')
            | Hired as project lead of a newly formed web development company with a queue of clientele expecting
            | websites. I was responsible for establishing an organised method of work for the team, setting up a
            | library of reusable code, and developing an in-house content and commerce management system.
            | Full stack LAMP development with PHP, MySQL, HTML, CSS and Javascript.

    div(typeof='Event/Job', class='job')
        h3(property='name', class='name') Php Developer

        div(property='location', typeof='Place', class='location')
            span(property='name' content='Wide Area Communications')
                a(property='url', href='http://www.widearea.co.uk') Wide Area Communications,
            span(property='address', typeof='PostalAddress')
                span(property='addressLocality') London

        div.dates
            span(property='startDate' content='2008-02-01') February 2008
            =' - '
            span(property='endDate' content='2010-02-01') February 2010

        p(property='description', class='description')
            | Providing content, community and commerce solutions. Hired as part of a team designing and developing a
            | one stop generic and secure basket/checkout and subscription module, for the existing wide area
            | management system, meeting the requirements of several clients wanting e-commerce solutions

    div(typeof='Event/Job', class='job')
        h3(property='name', class='name') Web Developer

        div(property='location', typeof='Place', class='location')
            span(property='name' content='Martin S Lewis Limited')
                a(property='url', href='http://www.moneysavingexpert.com/') MoneySavingExpert.com,
            span(property='address', typeof='PostalAddress')
                span(property='addressLocality') London

        div.dates
            span(property='startDate' content='2006-06-01') June 2006
            =' - '
            span(property='endDate' content='2006-02-01') February 2008

        p(property='description', class='description')
            | Part of a four man team responsible for the development, maintenance and optimisation of the
            | moneysavingexpert.com website, forums and tools, ensuring the best user experience possible for the
            | circa 4.5 million unique monthly visitors.