section#personal-details.personal-details.section
    h2.title Personal details #[small Who I am]

    div.image
        img(property='image', src='/images/pic.png', alt='Daniel Antelo')

    dl.details
        dt.term Name:
        dd(property='name', class='description') Daniel Antelo
        dt.term Nationality:
        dd(property='nationality', class='description') British-Spanish
        dt.term DOB:
        dd(property='birthDate', class='description') 15/09/1984
        dt.term Email:
        dd.description
            a(property='email', href='danielantelo@live.com') danielantelo@live.com

    div.profile
        h3.subtitle Professional Profile

        p(property='description')
            | Motivated and hard working, I use my own initiative, making it my aim to implement effective solutions,
            | produce quality work and meet deadlines. My proven track record in computing, professionally and
            | academically makes me confident I will add value to any project.

        p(property='description')
            | Fluent in both English and Spanish, I am effective in cross-cultural dialogue and able to tailor my
            | communications to a wide range of audiences and can naturally communicate project objectives to
            | multidisciplinary teams.

    div#links.links
        h4.subtitle Online Presence

        ul
            li
                a(property='url', target='_blank' href='https://github.com/danielanteloagra') Linkedin
            li
                a(property='url', target='_blank' href='https://github.com/danielanteloagra') Github
            li
                a(property='url', target='_blank' href='https://gist.github.com/danielanteloagra') Gists
            li
                a(property='url', target='_blank' href='http://codepen.io/danielanteloagra/') Codepen
            li
                a(property='url', target='_blank', href='/downloads/resume.pdf') PDF Resume
