section#skills.skills.section
    h2.title Skills & Knowledge #[small What I&#39;m best at]

    div.highlights
        div.skill.project-direction
            h3.subtitle Project Direction
            p Proven ability to lead and manage teams in developing websites and web applications using agile methodologies.

        div.skill.development
            h3.subtitle Software Development
            p Experience in requirements capture, program design, implementation, testing, evaluation and optimisation.

        div.skill.programming
            h3.subtitle Programming
            p Passion for maintainable, extensible, reusable and readable code. Solid understanding of OOP and design patterns.

    div.technical-knowledge
        h3.subtitle Technical Knowledge

        ul
            li PHP
            li Symfony2
            li Javascript
            li Redux
            li jQuery
            li Java
            li Spring MVC
            li SQL
            li Doctrine
            li CSS
            li Sass
            li XML/JSON

    div.languages
        h3.subtitle Language Skills

        ul
            li Native #[strong English]
            li Native #[strong Spanish]
            li Native #[strong Galician]
