section#skills.skills.section
    h2.title Skills & Knowledge #[small What I&#39;m best at]

    div.highlights
        div.skill.project-direction
            h3.subtitle Project Direction
            p Proven ability to lead and manage development teams using agile methodologies and continuous integration principles.

        div.skill.delivery
            h3.subtitle Software Delivery
            p Highly focused on continuous delivery via the right tooling, with a soft spot for automated testing and the testing pyramid.
            
        div.skill.development
            h3.subtitle Software Development
            p Experience in requirements capture and software design. Passion for maintainable, extensible, reusable and readable code.


    div.technical-knowledge
        h3.subtitle Technical Knowledge

        ul
            li Typescript
            li Javascript
            li HTML
            li CSS
        ul
            li React
            li NextJS
            li Styled Components / Fela
            li SCSS
        ul
            li Lerna/Yarn Workspaces
            li Micro Frontends
            li Jest
            li Cypress
        ul
            li Node
            li Apollo GraphQL
            li RESTful Apis
            li PostgreSQL / MySQL / MongoDB



    div.languages
        h3.subtitle Languages

        ul
            li Native #[strong English]
            li Native #[strong Spanish]
            li Native #[strong Galician]
