header.header
    h1.heading Daniel Antelo

    label(class='menu-toggle', for='menu-toggle') Toggle menu
    input(id='menu-toggle', type='checkbox')

    nav.primary-navigation
        a(href='#personal-details') Personal Details
        a(href='#skills') Skills
        a(href='#experience') Experience
        a(href='#education') Education
        //a(href='#blog') Blog
