header.header
    h1.heading Daniel Antelo

    nav.primary-navigation
        a(href='#personal-details') Personal Detail
        a(href='#skills') Skills
        a(href='#experience') Experience
        a(href='#education') Education
        a(href='#blog') Blog
