.education {
  .certificate {
    border-bottom: 0.1em solid $color-alto;
    margin-bottom: 1em;
    padding-bottom: 1em;

    &:last-of-type {
      border: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .description {
      @extend %type-tertiary-heading;

      margin: 0;
    }

    .institution {
      @extend %type-tertiary-heading;
    }
  }
}
