.skills {
  .highlights {
    @include clearfix;
  }

  .skill {
    @include span(12);

    @include at-breakpoint(desktop) {
      @include span(4);

      &:last-of-type {
        margin-right: 0;
      }
    }

    p {
      margin-top: 0;
    }
  }

  .languages,
  .technical-knowledge {
    padding: 0.5em 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .technical-knowledge {
    @include clearfix;

    ul {
      margin: 0;

      @include span(6 inside no-gutters);

      @include at-breakpoint(tablet) {
        @include span(4 inside no-gutters);
      }

      @include at-breakpoint(desktop) {
        @include span(3 inside no-gutters);
      }
    }

    li {
      border-bottom: 1px solid $color-alto;
      padding: 0.5em gutter() 0.5em 0;
    }
  }

  .languages {
    ul {
      @include clearfix;

      margin: 0.5em 0;
    }

    li {
      border: 8px solid $color-eden;
      border-radius: 85px;
      float: left;
      height: 85px;
      margin: 0.25em 0.25em 0 0;
      padding-top: 15px;
      text-align: center;
      text-transform: uppercase;
      width: 85px;
    }
  }
}
