.primary-navigation {
  @extend %type-heading;
  @extend %type-smaller;

  clear: both;
  display: none;

  @include at-breakpoint(desktop) {
    clear: none;
    display: block;
    float: right;
    width: auto;
  }

  a {
    border-top: 1px solid $color-gallery;
    color: $color-mine-shaft;
    display: block;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;

    @include at-breakpoint(desktop) {
      border: 0;
      display: inline-block;
      padding: 1.4em .7em .8em;

      &:hover {
        border-bottom: .2em solid $color-dusty-gray;
        color: $color-dusty-gray;
      }

      &.active {
        border-bottom: .2em solid $color-mine-shaft;
        color: $color-mine-shaft;
      }
    }
  }
}
